*.o
*.rul
*.dep
*.a

sim/
bin/
debugger/
sdas/*/Makefile
sdas/*/obj/
src/Makefile
src/*/Makefile
src/SDCClex.c
src/SDCCy.c
src/SDCCy.h
src/version.h
sdas/linksrc/asxxxx_config.h
doc/Makefile
testruns/
build/

/support/sdbinutils/
/support/cpp/
/support/**/Makefile

/sdccconf.h
/config.log
/config.status
/ports.all
/ports.build
/main.mk
/Makefile
/device/**/Makefile
/Makefile.common
